// colors
$primary: #d6625f;
$main: #b59872;
$main-light: #fbf9f7;
$black: #000;
$black-2: #333;
$black-3: #2d2e2f;
$black-title: #02102a;
$white: #fff;
$blue: #197278;
// fonts
$montserrat: 'Montserrat', sans-serif;
$cormorant: 'Cormorant Garamond', serif;
$gotham: 'Gotham', sans-serif;



